@use 'variables';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$mainTextColor;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$secTextColor;
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.text--medium {
    @include text();

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.title--medium {
    @include title();

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.link-text {
    @include text(18px);
    color: variables.$secTextColor;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: variables.$backgroundColor;
}

.button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: variables.$secTextColor;
        background-color: variables.$firstBackgroundButton;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        padding: 8px 14px;
        letter-spacing: 1px;
        border: 1px solid variables.$firstBackgroundButton;

        &:hover {
            background-color: lighten(variables.$firstBackgroundButton, 3%);
        }

        &--secondary {
            background-color: variables.$secBackgroundButton;
            border: 1px solid variables.$secBackgroundButton;

            &:hover {
                background-color: lighten(variables.$secBackgroundButton, 3%);
            }
        }

        &--dark {
            background-color: rgba(variables.$darkBackgroundButton, 0.8);
            border: 1px solid variables.$secTextColor;

            &:hover {
                background-color: variables.$secTextColor;
                color: variables.$backgroundColor;
            }
        }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }
    
    img {
        max-width: 100%;
    }
    
    &__text_container {
        padding: 0 2vw;
    
        h2 {
        margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}